{
    "env": {
      "browser": false,
      "commonjs": true,
      "es6": true,
      "node": true
    },
    "plugins": [
    ],
    "extends": ["eslint:recommended", "plugin:prettier/recommended"],
    "parserOptions": {
      "sourceType": "module",
      "ecmaVersion": 2018
    },
    "settings": {
    },
    "rules": {
      "linebreak-style": ["error", "unix"],
      "no-console": ["error", { "allow": ["log", "warn", "error"] }]
    }
  }